@model IEnumerable<Category>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Category List</h4>

        <div class="table-responsive">
            <table class="table table-striped table-borderless table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td onclick="EditCategory(@item.Id)">
                                <b>
                                @Html.DisplayFor(modelItem => item.Name)
                                </b>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @if (item.IsDelete == true)
                                {
                                    <label id="statusLabel-category-@item.Id" class="badge badge-danger" onclick="ChangeStatusCategory(@item.Id)">Inactive</label>
                                }
                                else
                                {
                                    <label id="statusLabel-category-@item.Id" class="badge badge-success" style="cursor: pointer;" onclick="ChangeStatusCategory(@item.Id)">Active</label>
                                }
                            </td>
                            <td>
                                <button type="button" class="btn btn-link" style="padding: 0px 0 !important;cursor: pointer; color:#4c4d4f" onclick="EditCategory(@item.Id)"><i class="mdi mdi-border-color"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
     